/*archivo “barrel”: centraliza todos los imports de CSS*/
@import url("reset.css");
@import url("theme.css");
@import url("base.css");
@import url("navigation.css");
@import url("layout.css");
@import url("components.css");